<!DOCTYPE html>
<html>
<header>
	<script src='TweenLite.min.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="style.css">
</header>

<body>
	<div id="radioContainer">
		<ul>
			<li v-for="preset in presets">
				<input type="radio" v-model="checked" :value="preset.name">
				<label>{{ preset.display }}</label>
			</li>
		</ul>

		{{ checked }}
	</div>

	<div id="slideContainer">
		<div v-for="key in sliders">
			<label>{{ key.display }}</label>
			<input type="range" min="0" max="1000" value="0" class="slider" :id="key.name">
		</div>
	</div>

	<script src="sketch.js"></script>
</body>

</html>