<!DOCTYPE html>
<html>
<header>
	<script src='TweenLite.min.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="style.css">
</header>

<body>
	<div id="radioContainer">
		<ul>
			<li v-for="preset in presets">
				<input type="radio" v-model="checked" :value="preset.name"><label>{{ preset.display }}</label>
			</li>
		</ul>

		{{ checked }}
	</div>

	<div class="slidecontainer">
		<div class="block">
			<label>Arm Length</label>
			<input type="range" min="0" max="1000" value="0" class="slider" id="armLength">
		</div>
		<div class="block">
			<label>Leg Length</label>
			<input type="range" min="0" max="1000" value="0" class="slider" id="legLength">
		</div>
		<div class="block">
			<label>Spine Length</label>
			<input type="range" min="0" max="1000" value="0" class="slider" id="spineLength">
		</div>
		<div class="block">
			<label>Audio Reactive</label>
			<input type="range" min="0" max="1000" value="0" class="slider" id="audioReactive">
		</div>
		<div class="block">
			<label>Background</label>
			<input type="range" min="0" max="1000" value="1000" class="slider" id="background">
		</div>
		<div class="block">
			<label>Wander</label>
			<input type="range" min="0" max="1000" value="0" class="slider" id="wander">
		</div>
		<div class="block">
			<label>Terrain Noise</label>
			<input type="range" min="0" max="1000" value="0" class="slider" id="terrainNoise">
		</div>
		<div class="block">
			<label>Terrain Rot</label>
			<input type="range" min="0" max="1000" value="0" class="slider" id="terrainRot">
		</div>
		<div class="block">
			<label>Terrain Alpha</label>
			<input type="range" min="0" max="1000" value="0" class="slider" id="terrainAlpha">
		</div>
		<div class="block">
			<label>Pathfinder</label>
			<input type="range" min="0" max="1000" value="0" class="slider" id="pathfinder">
		</div>
	</div>
	<script src="sketch.js"></script>
</body>

</html>