html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#slideContainer {
  width: 800px;
  /* z-index: 3; */
  /* position: absolute; */
  top: 0px;
  left: 0px;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 50px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 50px;
  height: 50px;
  background: #4CAF50;
  cursor: pointer;
}

#slideContainer label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

/* Customize the label (the container) */
#radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#radioContainer ul {
  list-style-type: none;
}